# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.brittany_ashby.planned_makes
(
    item_id iNT PRIMARY KEY IDENTITY(1,1),
    item_name VARCHAR(100),
    category VARCHAR(100),
    items_needed VARCHAR(150),
    planned_date DATE

)

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.brittany_ashby.planned_makes (item_name, category, items_needed, planned_date)
VALUES
('smores', 'recipe', 'graham crackers, chocolate, big marshmallows', '10-25-2025'),
('puzzle', 'assembly', 'puzzle pieces, reference photo, large platform', '10-26-2025'),
('tacos', 'recipe', 'tortilla, protein, cheese, lettuce, seasonings', '11-01-2025')

## Update a Row

Change different values in one of your three rows.

In [ ]:
--Change date to make taco
UPDATE Sep2025JunkDB.brittany_ashby.planned_makes
SET planned_date = '11-02-2025'
WHERE item_id = 3

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM 
Sep2025JunkDB.brittany_ashby.planned_makes
WHERE item_name LIKE '%tacos%'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
SELECT * FROM Sep2025JunkDB.brittany_ashby.planned_makes